.SkillParentSecCls {
    padding: 40px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
}
.skillTopicLocCls {
    font-size: 32px;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 64px;
    height: 64px;
}
.skillTitleHeadCls {
    font-size: 32px;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
.skillSetCardHeadCls{
    display: flex;
    font-size: 24px;
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    color: #fff;
    background-color: #5F4CA5;
    padding: 8px 10px;
    border-radius: 30px;
    box-shadow: 3px 2px 3px 3px #00000038;
    align-items: center;
}
.skillSetLogoCls {
    width: 90%;
    height: 90%;
}
.skillSetRatingLogoCls {
    height: 27px;
}
.skillSetHeadCls {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto;
    justify-content: space-between;
    row-gap: 15px;
}
.skillSetDets {
    flex: 1;
}
.skillSetLogo {
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border-radius: 18px;
    background-color: #ffff;
    border-radius: 18px;
}
.skillSetDets {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.skillSetCardHeadCls:hover {
    background-color: #2C234B !important;
}
@media (max-width: 991px) {
    .skillSetHeadCls {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: auto;
        justify-content: center;
        row-gap: 15px;
        column-gap: 15px;
    }
}